<div id="title" class="jumbotron text-center">
    <h1 >{{title}}</h1>
    <h2  >{{subtitle}} </h2>
    <p class="lead"> {{email}} </p>

</div>


<article class="about ">
    <h2>Sobre Mi</h2>

    <p>
            Donec turpis felis, fringilla finibus est eu, fermentum finibus massa. Suspendisse viverra posuere nisl, et tincidunt felis placerat condimentum. Ut placerat commodo porttitor. In pharetra odio sit amet molestie lobortis. Donec tincidunt tortor id augue consequat sodales. Suspendisse ligula risus, luctus non laoreet id, gravida aliquam lacus. Maecenas aliquam venenatis tellus, eget ultricies diam vestibulum faucibus. Nam aliquet placerat efficitur. Integer sollicitudin ante vitae ex pharetra elementum. Integer non metus eu sem auctor accumsan. Quisque vel tempor dolor. Sed porttitor mauris sed est sollicitudin, dapibus sodales metus consequat. Donec cursus diam eu cursus ornare. Phasellus accumsan interdum leo, in feugiat arcu varius eu. Aenean sed dolor sit amet velit sollicitudin faucibus auctor a nibh. Maecenas eleifend non ante eu varius.
        
    </p>

</article>
