<div class="galeria">
        <p>Tamaño del Slider: <strong> {{anchura}} </strong></p>
        <div class="bxslider ">
                <div><img src="../../../assets/img/Paisaje1.jpg" title="Funky roots"></div>
                <div><img src="../../../assets/img/paisaje2.jpg" title="The long and winding road"></div>
                <div><img src="../../../assets/img/paisaje3.jpg" title="Happy trees"></div>
        </div>

        <button type="button" (click)="lanzar($event)">Conseguir Autor</button>
 </div>

